.main-warp{margin-left:15%;margin-right:15%;width:70%;padding-top:10px}
.main-warp .tool-section{height:50px;background-color:#78ff23;text-align:center}
.main-warp .tool-section input[type=file]{display:none}
.main-warp .tool-section .file-label{float:left;margin-left:20px;height:30px;width:60px;line-height:30px;margin-top:10px;color:#fff;font-weight:bold;background-color:#4d90fe;border:1px solid #3079ed;border-radius:3px}
.main-warp .tool-section .file-label:hover{box-shadow:inset 0 1px 20px rgba(0,0,0,0.1);background-color:#357ae8;border:1px solid #2f5bb7}
.main-warp .tool-section span{font-size:20px;line-height:50px;height:50px}
.main-warp .book-header{text-align:center}
.main-warp .book-header span{font-size:16px}
.main-warp h1{font-size:24px}
.main-warp .book-content{padding:10px}
.nav-side{position:relative;top:10px;width:15%;float:left;background-color:#eee;font-size:18px;line-height:35px}
.nav-side li{height:35px;margin:5px;border-radius:5px;list-style:none;background-color:#fff;overflow-y:hidden}
