
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489904851389'); /* IE9*/
  src: url('iconfont.eot?t=1489904851389#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489904851389') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489904851389') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489904851389#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e600"; }

.icon-iconbook:before { content: "\e612"; }

.icon-about:before { content: "\e637"; }

.icon-static:before { content: "\e795"; }

