{
    "compiler": "component",
    "name": "angularjs",
    "author": "zhiyan.wang",
    "email": "zhiyan.wang@qunar.com",
    "description": "AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop. ",
    "repository":"http://gitlab.corp.qunar.com/fed/angularjs",
    "version": "1.2.9",
    "dependencies": {},
    "alias": {},
    "export": []
}