{
    "compiler": "modular",
    "name": "kindleDeal",
    "version": "0.0.0",
    "alias": {},
    "export": [
        "scripts/common/index.js",
        "scripts/cliping/cliping.js",
        "scripts/intro/intro.js",

        "styles/common/index.css",
        "styles/cliping/index.css",
        "styles/intro/index.css"
    ],
    "dependencies": {
        "angularjs": "1.2.9"
    }
}
