.main-warp{margin-left:15%;margin-right:15%;width:70%;padding-top:10px}
.main-warp .tool-section{height:50px;background-color:#78ff23;text-align:center}
.main-warp .tool-section span{font-size:20px;line-height:50px;height:50px}
.main-warp .intro{font-size:20px;padding:10px}
.main-warp .intro div{margin-bottom:20px}
.nav-side{position:relative;top:10px;width:15%;float:left;background-color:#eee;font-size:18px;line-height:35px}
.nav-side li{height:35px;margin:5px;border-radius:5px;list-style:none;background-color:#fff;overflow-y:hidden}
.nav-side li:hover{background-color:#ccc}
